/* alert css starts here */

.alert {
    font-size: 14px;
    padding: 0.43rem 1.25rem;
    margin-bottom: 19px;
    border-radius: 2px;
}

.alert-danger-outline {
    color: #ee5a5a;
    background-color: rgba(238,90,90,0.07);
    border-color: #ee5a5a;
}

.alert-success-outline {
    color: #01bbae;
    background-color: rgba(45, 203, 191, 0.07);
    border-color: #01bbae;
}

.alert_icon .close.alert_close {
    font-size: 20px;
    position: static;
    width: 30px;
    padding: 5px;
    opacity: 1;
    text-shadow: none;
}

.alert-danger-outline .close.alert_close {
    color: #ee5a5a;
}

.alert-success-outline .close.alert_close {
    color: #01bbae;
}

.alert_icon .close:focus, .alert_icon .close:hover {
    text-decoration: none;
    opacity: 1;
}

.alert-danger-outline.close:focus, .alert-danger-outline .close:hover {
    color: #ee5a5a;
}

.alert-success-outline.close:focus, .alert-success-outline .close:hover {
    color: #01bbae;
}

.alert-icon-col {
    font-size: 24px;
    width: 38px;
}

.alert_text {
    width: calc(100% - 68px);
}

.alert-dismissible {
    padding-right: 1.25rem;
}

/* alert css ends here */
